@page
@model RP_PELICULAS__Ejercicio3_.Pages.Peliculas.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Pelicula</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pelicula.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pelicula.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pelicula.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pelicula.Genero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pelicula.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pelicula.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pelicula.FechaLanzamiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pelicula.FechaLanzamiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pelicula.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pelicula.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Pelicula.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
