@page
@model RP_PELICULAS__Ejercicio3_.Pages.Peliculas.IndexModel

@{
    ViewData["Title"] = "Películas";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Películas</h1>



<form>
    <p>
        FILTRAR: <input type="text" asp-for="searchstring" />
        <select asp-for="generoPelicula" asp-items="Model.genero"
                style="width: 130px; height: 30px;">
            <option value="">ALL</option>
        </select>
        <input type="submit" value="Filtar">

<p>

</form>

<p>
    <a asp-page="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula[0].Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula[0].Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula[0].Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula[0].FechaLanzamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula[0].Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pelicula) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaLanzamiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
